APP_ENV=development
HTTP_ADDR=:8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=learning_marketplace
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_SSLMODE=disable

POSTGRES_REPLICA_ENABLED=false
POSTGRES_REPLICA_HOST=localhost
POSTGRES_REPLICA_PORT=5433
POSTGRES_REPLICA_DB=learning_marketplace
POSTGRES_REPLICA_USER=app
POSTGRES_REPLICA_PASSWORD=app
POSTGRES_REPLICA_SSLMODE=disable

PROJECTOR_BATCH_SIZE=50
PROJECTOR_POLL_INTERVAL=2s

ETCD_ENABLED=false
ETCD_ENDPOINTS=http://localhost:2379
ETCD_DIAL_TIMEOUT=5s
ETCD_KEY_PREFIX=/learning-marketplace/leases/
